.form-field{
    width:400px;
    top:0px;
    height:98%;
    background:var(--primary);
    padding:56px 0px 8px;
    margin:4px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start ;
    align-items:center;
    gap:32px;
}

.preview{
    position:absolute;
    top:4px;
    right:4px;
    width:calc(100% - 412px);
    height:98%;
    background:var(--primary);
}
.preview h4{
    text-align:center;
    text-transform:capitalize;
    width:100%;
    top:40%;
}
.preview span{
    color:silver;
    width:100%;
}
.preview .icon{
    color:silver;
    font-size:var(--l);
}
.AddRecord{
    background:var(--secondary);
}
label{
    text-transform:capitalize;
    width:80%;
    height:40px;
    background:var(--primary);
    border:1px solid black;
    display:flex;
    flex-flow:column wrap;
}
label span{
    z-index:1;
    width:max-content;
    font-size:var(--sx);
    font-weight:bold;
    color:var(--grey);
    background:var(--primary);
    padding:2px 8px;
    margin-right:8px;
    top:-12px;
    left:8px;
}
label input{
    position:absolute;
    top:0;
    left:0;
    color:var(--text);
    width:100%;
    height:calc(100% - 5px);
    background:inherit;
    border:none;
    padding-inline:16px;

}
label input::placeholder{
    color:silver;
}

#add-record{
    width:80%;
    color:var(--primary);
    background:var(--accent);
    text-transform:capitalize;
    outline:none;
    position:absolute;
    bottom:32px;    
    padding:8px 12px;
}
#add-record:hover{
    background:var(--accent-hover);
}