:root{
    --sxxx:0.2rem;
    --sxx:0.4rem;
    --sx:0.6rem;
    --s:0.8rem;
  
    --m:1rem;
    --mx:1.2rem;
    --mxx:1.6rem;
    --mxxx:2.4rem;
  
    --l:4rem;
    --lx:7.2rem;
    --lxx:13.6rem;
    --lxxx:16.4rem;
  
    --text:#666666;
    --grey:grey;
    --primary:white;
    --secondary:#F0F0F0;
    --tertiary:#D9D9D9;
    --accent:#007AFF;
    --accent-hover:#0058AAFF;
    --highlight:#007AFF22;
    --positive-change:rgba(50,200,50,1);
    --negative-change:rgba(200,50,50,1);
  }
  *{
    box-sizing:border-box;
    position:relative;
    user-select:none;
    margin:0;
  }
  *::-webkit-scrollbar{
    display:none;
  }
  body{
    margin:0 auto;
    font-size:1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:var(--text);
  }
  button{
    border:none;
  }
  input{
    outline:none;
    font-family:inherit;
  }
  .center-self{
    left:50%;
    transform:translate(-50%,0%)
  }
  .center-child{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .active-tab{
    color:var(--accent)!important;
    background:var(--highlight)!important;
  }
  .positive-fore{
    color:var(--positive-change);
  }
  .negative-fore{
    color:var(--negative-change)
  }
  .positive-bg{
    color:var(--primary);
    background:var(--positive-change);
  }
  .negative-bg{
    color:var(--primary);
    background:var(--negative-change);
  }

  .page{
    background:var(--secondary);
    width:calc(100vw - 150px);
    height:calc(100vh - 60px);
    position:absolute;
    top:60px;
    left:150px;
    overflow:scroll;
  }